Repository python-trio/trio: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-files, regenerate-windows-cffi, sync-test-requirements

.pre-commit-config.yaml:

ci:
  autofix_prs: true
  autoupdate_schedule: weekly
  submodules: false
  # pip-compile requires internet, regenerate-files may get cache
  # issues in CI, so they're run in check.sh
  skip: [pip-compile, regenerate-files]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-case-conflict
      - id: sort-simple-yaml
        files: .pre-commit-config.yaml
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff-check
        types: [file]
        types_or: [python, pyi, toml]
        args: ["--show-fixes"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          # tomli needed on 3.10. tomllib is available in stdlib on 3.11+
          - tomli
  - repo: https://github.com/adhtruong/mirrors-typos
    rev: v1.43.4
    hooks:
      - id: typos
  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: v1.0.2
    hooks:
      - id: sphinx-lint
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.22.0
    hooks:
      - id: zizmor
  - repo: local
    hooks:
      - id: regenerate-files
        name: regenerate generated files
        language: python
        entry: python src/trio/_tools/gen_exports.py
        pass_filenames: false
        additional_dependencies: ["astor", "attrs", "black", "ruff"]
        files: ^src\/trio\/_core\/(_run|(_i(o_(common|epoll|kqueue|windows)|nstrumentation)))\.py$
      - id: regenerate-windows-cffi
        name: regenerate windows CFFI
        language: python
        entry: python src/trio/_tools/windows_ffi_build.py
        pass_filenames: false
        additional_dependencies: ["cffi"]
        files: ^src\/trio\/_tools\/windows_ffi_build\.py$
      - id: sync-test-requirements
        name: synchronize test requirements
        language: python
        entry: python src/trio/_tools/sync_requirements.py
        pass_filenames: false
        additional_dependencies: ["pyyaml"]
        files: ^(test-requirements\.txt)|(\.pre-commit-config\.yaml)$
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.10.2
    hooks:
      # Compile requirements
      - id: pip-compile
        name: uv pip-compile test-requirements.in
        args: [
          "--universal",
          "--python-version=3.10",
          "test-requirements.in",
          "-o",
          "test-requirements.txt"]
        files: ^test-requirements\.(in|txt)$
      - id: pip-compile
        name: uv pip-compile docs-requirements.in
        args: [
          "--universal",
          "--python-version=3.11",
          "docs-requirements.in",
          "-o",
          "docs-requirements.txt"]
        files: ^docs-requirements\.(in|txt)$

use inspect.getdoc
  src/trio/_tests/_check_type_completeness.json
  src/trio/_tests/check_type_completeness.py
Due: none

add changelog
  newsfragments/3226.bugfix.rst
Due: none

remove only fixed from completeness.json
  src/trio/_tests/_check_type_completeness.json
Due: none

Assert the io errors carry a message
  src/trio/_core/_tests/test_io.py
Due: none

Handle kqueue cancellation after event fetch
  newsfragments/3500.bugfix.rst
  src/trio/_core/_io_kqueue.py
  src/trio/_core/_tests/test_guest_mode.py
Due: regenerate-files

Limit stale kqueue handling to cancelled waits
  src/trio/_core/_io_kqueue.py
  src/trio/_core/_tests/test_io.py
Due: regenerate-files

Remove redundant platform guard
  src/trio/_core/_tests/test_io.py
Due: none

Avoid type-checking kqueue-only regression test
  src/trio/_core/_tests/test_io.py
Due: none

Use skip marker for kqueue-only regression test
  src/trio/_core/_tests/test_io.py
Due: none

Fix #3500: TrioInternalError on macOS/BSD in guest mode
  newsfragments/3500.bugfix.rst
  src/trio/_core/_io_kqueue.py
  src/trio/_core/_tests/test_guest_mode.py
Due: regenerate-files

wait_kevent: do the kevent registration itself (part of #578)
  docs/source/reference-lowlevel.rst
  newsfragments/3500.bugfix.rst
  newsfragments/578.deprecated.rst
  newsfragments/578.feature.rst
  src/trio/_core/_generated_io_kqueue.py
  src/trio/_core/_io_kqueue.py
  src/trio/_core/_tests/test_guest_mode.py
  src/trio/_core/_tests/test_kqueue.py
  src/trio/_subprocess_platform/kqueue.py
Due: regenerate-files

remove newsfragment
  newsfragments/3226.bugfix.rst
Due: none

Fix frozen exceptions in loose exception groups
  newsfragments/2607.bugfix.rst
  src/trio/_core/_run.py
  src/trio/_core/_tests/test_run.py
  src/trio/_util.py
Due: regenerate-files

add docstring to types that are mentioned in public interface; remove empty json file; clean up ignore list
  src/trio/_core/_io_epoll.py
  src/trio/_core/_io_kqueue.py
  src/trio/_core/_io_windows.py
  src/trio/_core/_local.py
  src/trio/_core/_run.py
  src/trio/_file_io.py
  src/trio/_socket.py
  src/trio/_subprocess.py
  src/trio/_sync.py
  src/trio/_tests/_check_type_completeness.json
  src/trio/_tests/check_type_completeness.py
  src/trio/_unix_pipes.py
Due: regenerate-files

fix sphinx docs, add newsfragment
  docs/source/conf.py
  newsfragments/3226.bugfix.rst
  src/trio/_subprocess.py
Due: none

shorter docstring
  src/trio/_subprocess.py
Due: none

fix print with missing var
  src/trio/_tests/check_type_completeness.py
Due: none

Use pytest's match instead of asserting on the exception
  src/trio/_core/_tests/test_io.py
Due: none

Update 3226.bugfix.rst
  newsfragments/3226.bugfix.rst
Due: none

print missing_names for debug
  src/trio/_tests/test_exports.py
Due: none

fix prints
  src/trio/_tests/test_exports.py
Due: none

debug test_exports.py where ALG_SET_PUB_KEY is from?
  src/trio/_tests/test_exports.py
Due: none

remove debugs from test_Exports.py
  src/trio/_tests/test_exports.py
Due: none

exclude missing name with typo per bug in pypy
  src/trio/_tests/test_exports.py
Due: none

pin pypy to 7.3 for windows
  .github/workflows/ci.yml
Due: none

Fix the unbalanced literal markup in the newsfragment
  newsfragments/3511.bugfix.rst
Due: none

Recognize C-level SIGINT handlers as still running on the main thread.
  newsfragments/2564.bugfix.rst
  src/trio/_tests/test_util.py
  src/trio/_util.py
Due: none

Add new constant to socket
  src/trio/_tests/test_exports.py
Due: none

Avoid SSL tests on x86 Windows as cryptography doesn't support it (#3515)
  .github/workflows/ci.yml
  ci.sh
  src/trio/_tests/pytest_plugin.py
  src/trio/_tests/test_dtls.py
  src/trio/_tests/test_exports.py
  src/trio/_tests/test_ssl.py
  src/trio/_tests/tools/test_gen_exports.py
  src/trio/_tests/tools/test_sync_requirements.py
  test-requirements.txt
Due: sync-test-requirements

pip install verbose
  .github/workflows/ci.yml
  ci.sh
Due: none

verbose pip install
  ci.sh
Due: none

merge, bump crypto
  .github/workflows/ci.yml
  ci.sh
  src/trio/_tests/pytest_plugin.py
  src/trio/_tests/test_dtls.py
  src/trio/_tests/test_exports.py
  src/trio/_tests/test_ssl.py
  src/trio/_tests/tools/test_gen_exports.py
  src/trio/_tests/tools/test_sync_requirements.py
  test-requirements.txt
Due: sync-test-requirements

exclude one more name
  src/trio/_tests/test_exports.py
Due: none

Add docstrings for HasFileno.fileno and ParkingLot.broken_by
  src/trio/_core/_parking_lot.py
  src/trio/_subprocess.py
  src/trio/_tests/_check_type_completeness.json
Due: none

Bump cryptography again
  test-requirements.txt
Due: sync-test-requirements

Add a new socket constant
  src/trio/socket.py
Due: none

Fix CI failures for 3.11 Python (#3525)
  src/trio/_tests/test_exports.py
  src/trio/socket.py
  test-requirements.txt
Due: sync-test-requirements

Revert "merge, bump crypto"
  .github/workflows/ci.yml
  ci.sh
  src/trio/_tests/pytest_plugin.py
  src/trio/_tests/test_dtls.py
  src/trio/_tests/test_exports.py
  src/trio/_tests/test_ssl.py
  src/trio/_tests/tools/test_gen_exports.py
  src/trio/_tests/tools/test_sync_requirements.py
  test-requirements.txt
Due: sync-test-requirements

Revert "remove debugs from test_Exports.py"
  .github/workflows/ci.yml
  ci.sh
  src/trio/_tests/pytest_plugin.py
  src/trio/_tests/test_dtls.py
  src/trio/_tests/test_exports.py
  src/trio/_tests/test_ssl.py
  src/trio/_tests/tools/test_gen_exports.py
  src/trio/_tests/tools/test_sync_requirements.py
  test-requirements.txt
Due: sync-test-requirements
