Repository python-trio/trio: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-files, regenerate-windows-cffi, sync-test-requirements

.pre-commit-config.yaml:

ci:
  autofix_prs: true
  autoupdate_schedule: weekly
  submodules: false
  # pip-compile requires internet, regenerate-files may get cache
  # issues in CI, so they're run in check.sh
  skip: [pip-compile, regenerate-files]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-case-conflict
      - id: sort-simple-yaml
        files: .pre-commit-config.yaml
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff-check
        types: [file]
        types_or: [python, pyi, toml]
        args: ["--show-fixes"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          # tomli needed on 3.10. tomllib is available in stdlib on 3.11+
          - tomli
  - repo: https://github.com/adhtruong/mirrors-typos
    rev: v1.43.4
    hooks:
      - id: typos
  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: v1.0.2
    hooks:
      - id: sphinx-lint
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.22.0
    hooks:
      - id: zizmor
  - repo: local
    hooks:
      - id: regenerate-files
        name: regenerate generated files
        language: python
        entry: python src/trio/_tools/gen_exports.py
        pass_filenames: false
        additional_dependencies: ["astor", "attrs", "black", "ruff"]
        files: ^src\/trio\/_core\/(_run|(_i(o_(common|epoll|kqueue|windows)|nstrumentation)))\.py$
      - id: regenerate-windows-cffi
        name: regenerate windows CFFI
        language: python
        entry: python src/trio/_tools/windows_ffi_build.py
        pass_filenames: false
        additional_dependencies: ["cffi"]
        files: ^src\/trio\/_tools\/windows_ffi_build\.py$
      - id: sync-test-requirements
        name: synchronize test requirements
        language: python
        entry: python src/trio/_tools/sync_requirements.py
        pass_filenames: false
        additional_dependencies: ["pyyaml"]
        files: ^(test-requirements\.txt)|(\.pre-commit-config\.yaml)$
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.10.2
    hooks:
      # Compile requirements
      - id: pip-compile
        name: uv pip-compile test-requirements.in
        args: [
          "--universal",
          "--python-version=3.10",
          "test-requirements.in",
          "-o",
          "test-requirements.txt"]
        files: ^test-requirements\.(in|txt)$
      - id: pip-compile
        name: uv pip-compile docs-requirements.in
        args: [
          "--universal",
          "--python-version=3.11",
          "docs-requirements.in",
          "-o",
          "docs-requirements.txt"]
        files: ^docs-requirements\.(in|txt)$

Skip SSL tests on Windows x86
  src/trio/_tests/test_dtls.py
  src/trio/_tests/test_highlevel_ssl_helpers.py
  src/trio/_tests/test_ssl.py
Due: none

add zizmor directly in ci.yml and remove separate file
  .github/workflows/ci.yml
  .github/workflows/zizmor.yml
Due: none

drop SHA pins for now
  .github/workflows/ci.yml
Due: none

Actually, simply make sure any referrers are deleted
  src/trio/_core/_thread_cache.py
Due: none

Fix Path.as_uri on Python 3.14 (#3460)
  newsfragments/3460.bugfix.rst
  src/trio/_path.py
  src/trio/_tests/test_path.py
Due: none

Add zizmor as gh action (#3482)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: sync-test-requirements

Clarify run_process Ctrl+C documentation
  src/trio/_subprocess.py
Due: none

Downgrade cryptography
  docs-requirements.txt
  test-requirements.txt
Due: sync-test-requirements

Resolve new mypy issues
  src/trio/_core/_tests/test_ki.py
  src/trio/_threads.py
Due: none

Is it cffi or uv?
  test-requirements.txt
Due: sync-test-requirements

Is it uv?
  .pre-commit-config.yaml
  test-requirements.txt
Due: sync-test-requirements

Update LICENSE to specify MIT license
  LICENSE
Due: none

Hopefully make CI pass
  .pre-commit-config.yaml
  src/trio/_tests/test_exports.py
  test-requirements.txt
Due: sync-test-requirements

Run GC on PyPy more for test_worker_thread_context_not_leaked (#3479)
  src/trio/_core/_thread_cache.py
  src/trio/_tests/test_threads.py
Due: none

Add SocketStream method docstrings
  newsfragments/3221.doc.rst
  src/trio/_highlevel_socket.py
Due: none

Update type completeness expectations
  src/trio/_tests/_check_type_completeness.json
Due: none

Track max buffer usage in memory channel statistics (#3474)
  newsfragments/1723.feature.rst
  src/trio/_channel.py
  src/trio/_tests/test_channel.py
Due: none

Bump version to 0.34.0
  docs/source/history.rst
  newsfragments/1723.feature.rst
  newsfragments/3261.bugfix.rst
  newsfragments/3403.deprecated.rst
  newsfragments/3409.bugfix.rst
  newsfragments/3456.feature.rst
  newsfragments/3460.bugfix.rst
  newsfragments/3472.bugfix.rst
  src/trio/_core/_tests/test_asyncgen.py
  src/trio/_sync.py
  src/trio/_tests/test_sync.py
  src/trio/_version.py
Due: none

Start new cycle
  src/trio/_version.py
Due: none

Add missing docstrings for ParkingLot.broken_by and HasFileno.fileno
  newsfragments/3221.doc.rst
  src/trio/_core/_parking_lot.py
  src/trio/_subprocess.py
Due: none

Allow Trio imports on Android without interface helpers
  newsfragments/3493.bugfix.rst
  src/trio/_tests/test_socket.py
  src/trio/socket.py
Due: none

forge: repair src/trio/_core/_run.py (round 2, green, diff 6)
  .gitignore
  src/trio/_core/_run.py
  tests/test_forge_3279.py
Due: regenerate-files

Ignore stale kqueue events for an already-deregistered key
  newsfragments/3500.bugfix.rst
  src/trio/_core/_io_kqueue.py
  src/trio/_core/_tests/test_io.py
Due: regenerate-files

Guard the stale-kqueue-event test body for mypy's Linux pass too
  src/trio/_core/_tests/test_io.py
Due: none

Rework the kqueue stale-key regression test to use the public API
  src/trio/_core/_tests/test_io.py
Due: none

Document subprocess worker-thread inheritance
  newsfragments/3360.doc.rst
  src/trio/_subprocess.py
Due: none

Expose the asynchronous file wrapper for public type annotations
  docs/source/reference-io.rst
  newsfragments/3390.feature.rst
  src/trio/__init__.py
  src/trio/_file_io.py
  src/trio/_tests/test_exports.py
  src/trio/_tests/test_file_io.py
  src/trio/_tests/type_tests/file_io.py
  src/trio/_tests/type_tests/path.py
Due: none

Document ParkingLot.broken_by
  docs/source/conf.py
  src/trio/_core/_parking_lot.py
Due: none

Give the Windows IO backend the error messages its siblings have
  src/trio/_core/_io_windows.py
Due: regenerate-files

Add newsfragment for 3509
  newsfragments/3509.bugfix.rst
Due: none

Detect unclosed cancel scopes when a task exits
  newsfragments/3329.bugfix.rst
  src/trio/_core/_run.py
  src/trio/_core/_tests/test_guest_mode.py
  src/trio/_core/_tests/test_run.py
Due: regenerate-files

Make sleep() name its own parameter when given NaN
  src/trio/_tests/test_timeouts.py
  src/trio/_timeouts.py
Due: none

Add newsfragment for 3511
  newsfragments/3511.bugfix.rst
Due: none

Expose AsyncIOWrapper publicly
  docs/source/reference-io.rst
  newsfragments/3390.feature.rst
  src/trio/__init__.py
  src/trio/_file_io.py
  src/trio/_tests/test_exports.py
  src/trio/_tests/type_tests/file_io.py
  src/trio/_tests/type_tests/path.py
Due: none

Sometimes notify_closing can be called on dead events (#3503)
  newsfragments/3502.bugfix.rst
  src/trio/_core/_io_kqueue.py
  src/trio/_core/_tests/test_guest_mode.py
Due: regenerate-files

Avoid SSL tests on x86 Windows as cryptography doesn't support it
  .github/workflows/ci.yml
  ci.sh
  src/trio/_tests/pytest_plugin.py
  src/trio/_tests/test_dtls.py
  src/trio/_tests/test_exports.py
  src/trio/_tests/test_ssl.py
  src/trio/_tests/tools/test_gen_exports.py
  src/trio/_tests/tools/test_sync_requirements.py
  test-requirements.txt
Due: sync-test-requirements

Better environment variable for skipping installing cryptography
  .github/workflows/ci.yml
  ci.sh
Due: none

Document wrap_file lifecycle and shared state
  newsfragments/3379.doc.rst
  src/trio/_file_io.py
Due: none

Slightly more robust fix for notify_closing on dead events for kqueue
  src/trio/_core/_io_kqueue.py
  src/trio/_core/_tests/test_guest_mode.py
Due: regenerate-files
