Repository python-trio/trio: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-files, regenerate-windows-cffi, sync-test-requirements

.pre-commit-config.yaml:

ci:
  autofix_prs: true
  autoupdate_schedule: weekly
  submodules: false
  # pip-compile requires internet, regenerate-files may get cache
  # issues in CI, so they're run in check.sh
  skip: [pip-compile, regenerate-files]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-case-conflict
      - id: sort-simple-yaml
        files: .pre-commit-config.yaml
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff-check
        types: [file]
        types_or: [python, pyi, toml]
        args: ["--show-fixes"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          # tomli needed on 3.10. tomllib is available in stdlib on 3.11+
          - tomli
  - repo: https://github.com/adhtruong/mirrors-typos
    rev: v1.43.4
    hooks:
      - id: typos
  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: v1.0.2
    hooks:
      - id: sphinx-lint
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.22.0
    hooks:
      - id: zizmor
  - repo: local
    hooks:
      - id: regenerate-files
        name: regenerate generated files
        language: python
        entry: python src/trio/_tools/gen_exports.py
        pass_filenames: false
        additional_dependencies: ["astor", "attrs", "black", "ruff"]
        files: ^src\/trio\/_core\/(_run|(_i(o_(common|epoll|kqueue|windows)|nstrumentation)))\.py$
      - id: regenerate-windows-cffi
        name: regenerate windows CFFI
        language: python
        entry: python src/trio/_tools/windows_ffi_build.py
        pass_filenames: false
        additional_dependencies: ["cffi"]
        files: ^src\/trio\/_tools\/windows_ffi_build\.py$
      - id: sync-test-requirements
        name: synchronize test requirements
        language: python
        entry: python src/trio/_tools/sync_requirements.py
        pass_filenames: false
        additional_dependencies: ["pyyaml"]
        files: ^(test-requirements\.txt)|(\.pre-commit-config\.yaml)$
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.10.2
    hooks:
      # Compile requirements
      - id: pip-compile
        name: uv pip-compile test-requirements.in
        args: [
          "--universal",
          "--python-version=3.10",
          "test-requirements.in",
          "-o",
          "test-requirements.txt"]
        files: ^test-requirements\.(in|txt)$
      - id: pip-compile
        name: uv pip-compile docs-requirements.in
        args: [
          "--universal",
          "--python-version=3.11",
          "docs-requirements.in",
          "-o",
          "docs-requirements.txt"]
        files: ^docs-requirements\.(in|txt)$

remove debug code and fix reqs
  src/trio/_tests/test_exports.py
  test-requirements.txt
Due: sync-test-requirements

fix rst formatting
  src/trio/_core/_io_epoll.py
  src/trio/_core/_io_kqueue.py
  src/trio/_core/_io_windows.py
  src/trio/_core/_local.py
  src/trio/_core/_run.py
  src/trio/_file_io.py
  src/trio/_sync.py
Due: regenerate-files

beautify IOStatistics docstrings
  src/trio/_core/_io_epoll.py
  src/trio/_core/_io_kqueue.py
  src/trio/_core/_io_windows.py
Due: regenerate-files

beautify other docstrings
  src/trio/_core/_local.py
  src/trio/_core/_run.py
  src/trio/_file_io.py
  src/trio/_sync.py
  src/trio/_tests/check_type_completeness.py
Due: regenerate-files

shorter newsfragment
  newsfragments/3226.bugfix.rst
Due: none

touch to rerun CI
  src/trio/_file_io.py
Due: none

Slightly more robust fix for notify_closing on dead events for kqueue
  src/trio/_core/_io_kqueue.py
  src/trio/_core/_tests/test_guest_mode.py
Due: regenerate-files

Fix notify_closing after close on kqueue failing to interrupt waiters
  newsfragments/3520.bugfix.rst
  src/trio/_core/_io_kqueue.py
  src/trio/_core/_tests/test_guest_mode.py
  src/trio/_core/_tests/test_io.py
Due: regenerate-files

Fix CI failures
  src/trio/_core/_generated_io_kqueue.py
  src/trio/_core/_io_kqueue.py
  src/trio/_core/_tests/test_guest_mode.py
  src/trio/_core/_tests/test_kqueue.py
Due: regenerate-files

kqueue: Only tolerate spurious events if we know their reason
  src/trio/_core/_io_kqueue.py
Due: regenerate-files

Fix #3500: TrioInternalError on macOS/BSD in guest mode
  newsfragments/3500.bugfix.rst
  src/trio/_core/_io_kqueue.py
  src/trio/_core/_tests/test_guest_mode.py
Due: regenerate-files

wait_kevent: do the kevent registration itself (part of #578)
  docs/source/reference-lowlevel.rst
  newsfragments/3500.bugfix.rst
  newsfragments/578.deprecated.rst
  newsfragments/578.feature.rst
  src/trio/_core/_generated_io_kqueue.py
  src/trio/_core/_io_kqueue.py
  src/trio/_core/_tests/test_guest_mode.py
  src/trio/_core/_tests/test_kqueue.py
  src/trio/_subprocess_platform/kqueue.py
Due: regenerate-files

Remove redundant comments about wait_task_rescheduled return type
  src/trio/_core/_io_kqueue.py
Due: regenerate-files

Fix docs target not found (select.kevent as ref.class)
  src/trio/_core/_generated_io_kqueue.py
  src/trio/_core/_io_kqueue.py
Due: regenerate-files

revert check_type_completeness.py and bring back empty json
  src/trio/_tests/check_type_completeness.py
Due: none

revert check_type_completeness.py and bring back empty json
  src/trio/_tests/_check_type_completeness.json
Due: none

polish docs, remove outdated entries
  src/trio/_file_io.py
  src/trio/_socket.py
  src/trio/_subprocess.py
  src/trio/_sync.py
  src/trio/_tests/check_type_completeness.py
  src/trio/_unix_pipes.py
Due: none

Docs style tweak to fit better on narrow viewports such as mobile
  docs/source/_static/styles.css
Due: none

Add a local newsfragment formatting check
  docs/Makefile
  docs/source/conf.py
  newsfragments/3084.misc.rst
  newsfragments/README.rst
  src/trio/_tests/tools/test_check_newsfragments.py
Due: none

Fix documentation inventory type checking
  docs/source/conf.py
Due: none

Cover newsfragment test setup and failure paths
  src/trio/_tests/tools/test_check_newsfragments.py
Due: none

Simplify newsfragment guidance to the existing Sphinx command
  docs/Makefile
  docs/source/conf.py
  newsfragments/3084.misc.rst
  newsfragments/README.rst
  src/trio/_tests/tools/test_check_newsfragments.py
Due: none

Preserve native signal handlers when opening signal receivers
  newsfragments/2564.bugfix.rst
  src/trio/_signals.py
  src/trio/_tests/test_signals.py
  src/trio/_tests/test_util.py
Due: none

Make native signal test doubles fully covered
  src/trio/_tests/test_signals.py
  src/trio/_tests/test_util.py
Due: none

docs: add capo to the awesome Trio libraries list
  docs/source/awesome-trio-libraries.rst
Due: none

docs: use src layout paths in contributor commands
  docs/source/contributing.rst
Due: none

docs: add capo to the awesome Trio libraries list (#3531)
  docs/source/awesome-trio-libraries.rst
Due: none

Wake tasks reparked into broken parking lots
  src/trio/_core/_parking_lot.py
  src/trio/_core/_tests/test_parking_lot.py
Due: none

Add release note for broken parking lot requeueing
  newsfragments/3534.bugfix.rst
Due: none

Don't retry numeric-only getaddrinfo failures in a thread or resolver
  newsfragments/1249.bugfix.rst
  src/trio/_socket.py
  src/trio/_tests/test_socket.py
Due: none

docs: clarify notify_closing must precede closing
  docs/source/reference-lowlevel.rst
  newsfragments/3520.doc.rst
  src/trio/_core/_generated_io_epoll.py
  src/trio/_core/_generated_io_kqueue.py
  src/trio/_core/_generated_io_windows.py
  src/trio/_core/_io_epoll.py
  src/trio/_core/_io_kqueue.py
  src/trio/_core/_io_windows.py
Due: regenerate-files

docs: document HasFileno.fileno and ParkingLot.broken_by (#3221)
  docs/source/conf.py
  docs/source/reference-lowlevel.rst
  newsfragments/3221.doc.rst
  src/trio/_core/_parking_lot.py
  src/trio/_subprocess.py
  src/trio/_tests/_check_type_completeness.json
Due: none
