Repository python-trio/trio: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-files, regenerate-windows-cffi, sync-test-requirements

regenerate-files:
  name: regenerate generated files
  language: python
  entry: python src/trio/_tools/gen_exports.py
  pass_filenames: false
  additional_dependencies:
  - astor
  - attrs
  - black
  - ruff

regenerate-windows-cffi:
  name: regenerate windows CFFI
  language: python
  entry: python src/trio/_tools/windows_ffi_build.py
  pass_filenames: false
  additional_dependencies:
  - cffi

sync-test-requirements:
  name: synchronize test requirements
  language: python
  entry: python src/trio/_tools/sync_requirements.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

fix: in newsfragment, refer to as a link
  newsfragments/3321.feature.rst
Due: none

test: extra checks for waiting tasks
  src/trio/_tests/test_sync.py
Due: none

Bump version to 0.31.0
  docs/source/history.rst
  newsfragments/3007.bugfix.rst
  newsfragments/3232.feature.rst
  newsfragments/3248.bugfix.rst
  newsfragments/3263.bugfix.rst
  newsfragments/3275.bugfix.rst
  newsfragments/3277.bugfix.rst
  newsfragments/3307.misc.rst
  newsfragments/3322.deprecated.txt
  newsfragments/3324.bugfix.rst
  src/trio/_version.py
Due: none

Start new cycle
  src/trio/_version.py
Due: none

test: add extra test case
  src/trio/_tests/test_sync.py
Due: none

fix: add "wait"s before changing token length & releasing limiter
  src/trio/_tests/test_sync.py
Due: none

fix broken-channel bug
  newsfragments/3331.bugfix.rst
  src/trio/_channel.py
  src/trio/_tests/test_channel.py
Due: none

Wrap exception groups less when raising in `as_safe_channel`
  newsfragments/3332.misc.rst
  src/trio/_channel.py
  src/trio/_tests/test_channel.py
Due: none

Re-run pre-commit hooks
  test-requirements.txt
Due: sync-test-requirements

chore: deprecate `RaisesGroup`
  src/trio/testing/_raises_group.py
Due: none

avoid error when coro.cr_frame is None
  newsfragments/3337.bugfix.rst
  src/trio/_core/_run.py
  src/trio/_tests/test_tracing.py
Due: regenerate-files

Add noqas for unit tests
  src/trio/_tests/test_path.py
  src/trio/_tests/test_subprocess.py
Due: none

Remove unnecessary type ignore
  src/trio/_tests/test_exports.py
Due: none

Typing changes
  src/trio/_subprocess_platform/kqueue.py
Due: none

Fixes for CI
  newsfragments/3345.removal.rst
  src/trio/_tests/test_channel.py
Due: none

Address PR feedback
  .github/workflows/autodeps.yml
  src/trio/_repl.py
Due: none

Better pass through
  .github/workflows/ci.yml
  src/trio/_channel.py
  src/trio/_core/_exceptions.py
  src/trio/_core/_io_epoll.py
  src/trio/_core/_io_kqueue.py
  src/trio/_core/_io_windows.py
  src/trio/_core/_ki.py
  src/trio/_core/_tests/test_guest_mode.py
  src/trio/_core/_traps.py
  src/trio/_core/_windows_cffi.py
  src/trio/_dtls.py
  src/trio/_file_io.py
  src/trio/_highlevel_generic.py
  src/trio/_path.py
  src/trio/_socket.py
  src/trio/_subprocess.py
  src/trio/_tests/test_channel.py
  src/trio/_tests/test_socket.py
  src/trio/_tests/test_ssl.py
  src/trio/_tests/test_subprocess.py
  src/trio/_tests/test_sync.py
  src/trio/_tests/test_util.py
  src/trio/_tools/gen_exports.py
  src/trio/_unix_pipes.py
  src/trio/_util.py
  src/trio/testing/_check_streams.py
  src/trio/testing/_fake_net.py
  src/trio/testing/_memory_streams.py
  src/trio/testing/_raises_group.py
Due: regenerate-files

Undo ruff autofix
  src/trio/_core/_traps.py
Due: none

A few more codecov changes
  pyproject.toml
  src/trio/_unix_pipes.py
Due: none

Update for latest attrs
  src/trio/_tests/test_exports.py
Due: none

mypy fails too
  src/trio/_tests/test_exports.py
Due: none

Fix pip-compile files
  test-requirements.txt
Due: sync-test-requirements

Add free-threaded Python 3.14t to the testing
  .github/workflows/ci.yml
  test-requirements.in
  test-requirements.txt
Due: sync-test-requirements

Bump version to 0.32.0
  docs/source/history.rst
  newsfragments/3321.feature.rst
  newsfragments/3331.bugfix.rst
  newsfragments/3332.misc.rst
  newsfragments/3337.bugfix.rst
  newsfragments/3345.removal.rst
  src/trio/_version.py
Due: none

Add smoke tests to CI workflow for verifying build artifacts
  .github/workflows/ci.yml
Due: none

Refactor smoke test to use async function for Trio execution
  .github/workflows/ci.yml
Due: none

Refactor CI workflow to integrate smoke tests into job dependencies
  .github/workflows/ci.yml
Due: none

Remove smoke-tests dependency from Windows, Ubuntu, macOS, Alpine, and Cython jobs in CI workflow
  .github/workflows/ci.yml
Due: none

Add smoke tests to CI workflow for verifying build artifacts (#3352)
  .github/workflows/ci.yml
Due: none

Attempt to fix for Android
  src/trio/_core/__init__.py
  src/trio/_core/_run.py
Due: regenerate-files

Add a newsfragment
  newsfragments/3357.bugfix.rst
Due: none

Attempt to fix for Android's `sys.platform` changes (#3359)
  newsfragments/3357.bugfix.rst
  src/trio/_core/__init__.py
  src/trio/_core/_run.py
Due: regenerate-files

Avoid `pre-commit run` failing
  .github/workflows/autodeps.yml
Due: none

Avoid `pre-commit run` failing (#3361)
  .github/workflows/autodeps.yml
Due: none

Try to address CI failures
  src/trio/_core/_tests/test_asyncgen.py
  src/trio/_tests/test_path.py
  src/trio/socket.py
  test-requirements.in
  test-requirements.txt
Due: sync-test-requirements

Another pass at CI issues
  src/trio/_core/_tests/test_asyncgen.py
  src/trio/_tests/test_exports.py
Due: none

Path conditions:
  regenerate-files: any of: ^src\/trio\/_core\/(_run|(_i(o_(common|epoll|kqueue|windows)|nstrumentation)))\.py$
  regenerate-windows-cffi: any of: ^src\/trio\/_tools\/windows_ffi_build\.py$
  sync-test-requirements: any of: ^(test-requirements\.txt)|(\.pre-commit-config\.yaml)$
